*{

    margin: 0px;

    padding: 0px;

    box-sizing: border-box;

}



body{

    background-color: white;

}



main{

    width: 50% ;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    flex-direction: row;



}



.side-content{

    background-color: orange;

    padding: 2em;

    width: 100%;

    font-size: bold;

}



.side-content h3{

    color: white;

    font-size: 20px;

    padding-bottom: 10px;



}



.side-content p{

    color: white;

    font-size: 15px;

    padding-bottom: 10px;

     

}



.middle-content{

    background-color:rgb(25, 110, 110);

    padding: 2em;

    width: 100%;

    

}



.middle-content h3{

    color: white;

    font-size: 20px;

    padding-bottom: 10px;



}



.middle-content p{

    color: white;

    font-size: 15px;

    padding-bottom: 10px;



}

 

.right-content{

    background-color: rgb(8, 48, 8);

    padding: 2em;

    width: 100%;

}



.right-content h3{

    color: white;

    font-size: 20px;

    padding-bottom: 10px;



}



.right-content p{

  color: white;

  font-size: 15px;

  padding-bottom: 10px;



}

 





